@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

.MainContainerSignup{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(./images/hero.svg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
